/* body{
    margin: 0;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJOIZSuoL9ADQPeac9zNkCLxJwCu0KzMPiMg&s');
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    padding: 1rem;
    background-color: rgb(247, 235, 247);
    min-height: 100vh;
   box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
   
}

.box-line{
    border: 1px solid lightgray;
    margin-top: 20px;
}

.tabs{
    display: flex;
    border-bottom: 1px solid lightgrey;
    position: relative;
   
}
.tabs div{
    padding: 1rem;
    cursor: pointer;
}

#under-bar{
    position: absolute;
    background-color: pink;
    height: 4px;
    top: 52px;
    left: 0;
    width: 70px;
    padding: 0px;
    transition: 0.5s;
}

.tasks{
    display: flex;
    justify-content:space-between;
    padding: 1rem;
   
  
}


.check-line{
    text-decoration: line-through;
} */


body{
    margin: 0;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJOIZSuoL9ADQPeac9zNkCLxJwCu0KzMPiMg&s');
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    padding: 1rem;
    background-color: rgb(247, 235, 247);
    min-height: 100vh;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.table-line
{
    border: 1px solid lightgray;
    margin-top: 20px;
}
.tabs{
    display: flex;
    border-bottom: 1px solid lightgray;
    position: relative;
}

.tabs div{
    padding: 1rem;
   }

.tasks{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
#under-bar{
    position: absolute;
    background-color: pink;
    height: 4px;
    top: 52px;
    left: 0;
    width: 70px;
    padding: 0px;
    transition: 0.5s;
}

.check-line{
    text-decoration: line-through;
}